.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main::before {
    content: "";
    position: absolute;
    background: url("../../../assets/main/Decore.png") no-repeat;
    background-size: 100% 200px;
    top: 0;
    right: 0;
}

.main .texts h5 {
    font-family: "Rubik";
    color: #DF6951;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.main .texts h3 {
    color: var(--1st, #181E4B);
    font-family: "Rubik";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -3.36px;
    margin: 24px 0 30px 0;
}

.main .texts p {
    color: #5E6282;
    font-family: "Rubik";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.main .texts .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main .texts .btns button {
    border-radius: 9.024px;
    background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%));
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Rubik";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px 30px;
    margin-top: 40px;
}