.loader__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.loader {
    width: 80px !important;
    height: 80px !important;
    animation: spin 2s linear infinite;
    /* animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}