.service {
    position: relative;
}

.service h5 {
    color: var(--textclr, #5E6282);
    text-align: center;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.service h2 {
    color: var(--3rd, #14183E);
    text-align: center;
    font-family: Volkhov;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.service .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.service .flex .card {
    text-align: center;
    border-radius: 36px;
    background: #FFF;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 0 15px;
}

.service .flex .card img {
    width: 100%;
    height: 100%;
}

.service .flex .card .box {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFF;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    padding: 30px 26px;
}

.service .flex .card .box .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--textclr, #5E6282);
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%;
}

.service .flex .card .box h6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--textclr, #5E6282);
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%;
    margin-top: 26px;
}

.service .flex .card .box h6 img {
    width: 20px;
    height: 20px;
    margin: 0;
    display: block;
    margin-right: 14px;
}