.feedback {
    background: #DFD7F9;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-top-left-radius: 200px;
    text-align: center;
    position: relative;
    padding: 70px 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 30px;
}

.feedback img {
    position: absolute;
    right: -25px;
    top: -25px;
    z-index: 5;
}

.feedback h4 {
    color: var(--textclr, #5E6282);
    text-align: center;
    font-family: "Rubik";
    font-size: 29.779px;
    font-style: normal;
    font-weight: 600;
    line-height: 48.729px;
}

.feedback .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.feedback .form input {
    margin-right: 20px;
    padding: 10px 10px;
    height: 53px;
}

.feedback .form button {
    border-radius: 9.024px;
    background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%));
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Rubik";
    font-size: 15.341px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 20px;
}