.header {
    margin: 20px 0;
}

.header .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 120px;
    height: auto;
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    margin: 0 20px;
}

.header ul li a {
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header .btn {
    border-radius: 9.024px;
    background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%));
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Poppins";
    font-size: 15.341px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 20px;
}